<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>save</title>
    <!--jQuery-->
    <script
            src="https://code.jquery.com/jquery-3.6.4.min.js"
            integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
            crossorigin="anonymous"></script>
    <script src="../js/save.js"></script>
</head>
<body>
    <!--action속성 : form에 작성한 데이터를 어디로 보낼지 지정-->
    <form action="/member/save" method="post">
        <!--name속성: 서버로 전송할 때 변수이름의 역할-->
        이메일 : <input type="text" id="memberEmail" name="memberEmail"><button id="check-result" onclick="emailCheck()">중복체크</button><br>
        비밀번호 : <input type="password" name="memberPassword"><br>
        이름 : <input type="text" name="memberName"><br>
        <button id="join" type="submit">회원가입</button>
    </form>
</body>
</html>